.quote-section-1 {
    padding: 3rem 4rem;
    background: linear-gradient(180deg, #F4C81A 0%, #F4AC1A 100%);
    position: relative;
}

.bg-circle-blue-large {
    position: absolute;
    top: -3rem;
    left: 4rem;
    width: 280px;
    height: 280px;
    background-color: #C0E3FF;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
}

.bg-circle-pink-large {
    position: absolute;
    bottom: 5rem;
    right: 26px;
    width: 13vw;
    height: 30vh;
    background-color: #C0E3FF;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 1;
}

.quote-heading h1 {
    text-align: center;
    color: #1F1102;
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.page-1 {
    display: flex;
    justify-content: space-between;
}

.img-1 {
    height: 462px;
    align-self: stretch;
}

.img-1 img {
    height: 55vh;
    width: 100%;
}

.img-1 h1 {
    align-self: stretch;
    color: #282828;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 31.168px;
}

.img-1 p {
    color: #282828;
    text-align: center;
    align-self: stretch;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.168px;
}

.paragraph {
    padding: 2rem 4rem;
    width: 683px;
}

.paragraph p {
    color: #482500;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.page-2 {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.img-2 img {
    height: 400px;
    align-self: stretch;
    aspect-ratio: 1/1;
}

.img-2 h1 {
    align-self: stretch;
    color: var#282828;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.168px;
}

.img-2 p {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18.922px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.332px
}

.img-3 img {
    height: 250px;
    width: 100%;
}

.img-3 h1 {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: Montserrat;
    font-size: 15.184px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.img-3 p {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: Poppins;
    font-size: 12.827px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.528px;
}

.img-4 img {
    height: 250px;
    width: 100%;
}

.img-4 h1 {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: Montserrat;
    font-size: 15.184px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.img-4 p {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: Poppins;
    font-size: 12.827px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.528px;
}