.about-container {
    background: linear-gradient(180deg, #F4C81A 0%, #F4AC1A 100%);
}

.quote-title {
    text-align: center;
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: clamp(24px, 5vw, 52px);
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.about-content-left-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-content-left-image h2 {
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: clamp(24px, 5vw, 24px);
}

.about-content-left-image p {
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: clamp(16px, 5vw, 20px);
}


.about-content-center {
    width: 50%;
    padding: 2rem;
}

.about-content-center p {
    font-size: clamp(16px, 5vw, 17px);
    text-align: justify;
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.about-content-right-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.responsive-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 250px;
}

.about-content-right-image h2 {
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: clamp(24px, 5vw, 24px);
}

.about-content-right-image p {
    font-size: clamp(16px, 5vw, 16px);
    text-align: justify;
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.about-content-bottom {
    display: flex;
    gap: 4.5rem;
    justify-content: center;
    align-items: center;
    padding: 0rem;
}

.about-content-bottom-left,
.about-content-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content-bottom-left h2,
.about-content-bottom-right h2 {
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: clamp(12px, 2.5vw, 16px);
}

.about-content-bottom-left p,
.about-content-bottom-right p {
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;
    font-weight: 400;
    color: var(--Text-Primary, #2B2B2B);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.about-content-left-image img,
.about-content-right-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    /* desktop default */
}

/* Small circular images (bottom section) */
.about-content-bottom-left img,
.about-content-bottom-right img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1024px) {

    .about-content-left-image img,
    .about-content-right-image img {
        max-width: 400px;
    }

    .about-content-bottom-left img,
    .about-content-bottom-right img {
        max-width: 200px;
    }

    .about-content-center p {
        font-size: clamp(11px, 3vw, 11px);
        text-align: justify;
        color: var(--Text-Primary, #2B2B2B);
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }
}

@media(max-width: 768px) {
    .about-content {
        width: auto;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .about-content-center {
        width: 100%;
        padding: 2rem;
    }

    .about-content-bottom-left h2,
    .about-content-bottom-right h2 {
        font-size: clamp(10px, 3vw, 14px);
    }

    .about-content-bottom-left p,
    .about-content-bottom-right p {
        font-size: clamp(10px, 2.5vw, 14px);
    }

    .about-content-left-image img,
    .about-content-right-image img {
        max-width: 300px;
    }

    .about-content-bottom-left img,
    .about-content-bottom-right img {
        max-width: 150px;
    }
}

@media (max-width: 480px) {

    .about-content-left-image img,
    .about-content-right-image img {
        max-width: 250px;
    }

    .about-content-bottom-left img,
    .about-content-bottom-right img {
        max-width: 120px;
    }

    .about-content-center {
        padding: 2rem 0rem;
    }

    .about-content-center p {
        font-size: clamp(11px, 3vw, 11px);
        text-align: justify;
        color: var(--Text-Primary, #2B2B2B);
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }
}