:root {
    --White: #FFFFFF;
    --Black: #000000;
    --Soft-text: #8F8F8F;
    --Discription-text: #C0C0C0;
    --Bg-1: #F0F0F0;
    --Bg-8: #E9ECF2;
    --Bg-2: #A4BEEF;
    --Bg-3: #86C8FF;
    --Bg-4: #F4F4F4;
    --Bg-5: #3CAD26;
    --Bg-6: #FF7A00;
    --Bg-7: #0062FF;
    --Primary: #091348;
    --Secondary: #0059FF;
    --Border: #CACACA;

}